---
title: Privacy Policy
updated: Last updated on April 22, 2024
description: Welcome to Vatten! We are committed to protecting your privacy and ensuring that your personal information is handled in a safe and responsible manner. This policy outlines how we collect, use, and safeguard the information you provide while using our app.
faq:
  - question: Information We Collect
    answer: |
      Personal Information, We collect personal information you provide when you register, such as your name, email address.
      Workout Data, We collect data from your workout sessions, including duration, distance, and route.
      Device Information, We collect information from your device including model, operating system.
  - question: How We Use Your Information
    answer: |
      To Provide Services: Your information helps us to personalize and improve your experience on Vatten.
      For Customer Support: We use your information to respond to your inquiries and solve any issues you might encounter.
      For Updates and Promotions: We may use your information to contact you with updates, offers, and promotions that we think might interest you.
  - question: Sharing Your Information
    answer: |
      We do not sell, trade, or otherwise transfer to outside parties your personally identifiable information.
      We may share information with trusted third parties who assist us in operating our website, conducting our business, or servicing you, so long as those parties agree to keep this information confidential.
  - question: Data Security
    answer: |
      We implement a variety of security measures to maintain the safety of your personal information when you enter, submit, or access your personal information.
  - question: Changes to Our Privacy Policy
    answer: |
      We may update this Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.
  - question: Contact Us
    answer: |
      If you have any questions about this Privacy Policy, please contact us at <strong>info [that email symbol] vatten.app</strong>
---
<div class="plans">
	{% for plan in page.pricing_table %}
		<ul class="plan">
			<li style="background: {{ plan.color }}">
				<h3>{{ plan.name }}</h3>
			</li>
			{% for feature in plan.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
			{% endfor %}

			{% if plan.call_to_action %}
				<li class="pricing-cta"><div class="button"><a style="background: {{ plan.color }}" href="{{ plan.call_to_action.link }}">{{ plan.call_to_action.text }} &rarr;</a></div></li>
			{% endif %}
		</ul>
	{% endfor %}
</div>

<div>
  {{ page.updated }}
</div>

{% if page.faq %}
	<h2>Notice:</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}
